
body{
  background-color: black;
  color: white;
  font-family: Century Gothic;
}

a{
  color: steelblue;
}

h3{
  font-weight: lighter;
}

.chart { 
  background-color: black;
  text-align: center;
  width:100%;
}

.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

#infoText{
  padding-left: 15%;
}

#infoText div{
  margin: 15px 0;
}

.infoTextType {
  color: PaleVioletRed;
}

#postText div{
  margin: 15px 0;
  word-wrap: break-word;
  font-style: italic;
}

#postMessage{
  font-size: 14px;
}

.inlineBlock{
  display: inline-block;
}

.type{
  color: gold;
}
.sideContainer{
  margin-top: 70.44px;
  width:25%;
  height: 604px;
}

rect {
  cursor: pointer;
}

.reactionIcon{
  width:30px;
  height:30px;
  vertical-align: bottom;
}

#parallel-text{
  text-align: center;
  margin: 20px auto 20px auto;
}

.parallelIcons{
  display: inline-block;
  width:18%;
}

.parallelChart{
  width:100%;
  background-color: black; 
  height: 600px;
  margin-top:0px;
}

/* PARALLEL COORDINATES */

#pcoords{
  display:block;
}
#pcoords svg{
  border:solid;
  border-width:1px;
  border-color:#fff;
  cursor: normal;
}

.background path {
  fill: none;
  stroke: #555;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: PaleVioletRed;
  stroke-width: 1px;
  cursor: pointer;
}

.highlight path {
  fill: none;
  stroke-width: 2px;
  stroke: gold;
  display:none;
  cursor: pointer;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #fff;
}

.overlay {
  fill: none;
  pointer-events: all;
}
